body {
  background-color: white;
  overflow: hidden;
  user-select: none;

  margin: 0px;
}

a:visited {
  color: darkred;
  font-size: 14px;
}

a {
  color: red;
  font-size: 14px;
}

#cont {
  display: block;
  position: absolute;
  margin: auto;
  cursor: auto;
}

#barcode {
  z-index: 9999;
}

#header {
  border-bottom: 1px solid gray;
}

#anavTooltip {
  z-index: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  cursor: auto;
  display: none;
  grid-template-rows: 25% 75%;
  gap: 0px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
#tokens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  overflow-y: auto;
}

.iterDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
}

.gentkProfiles {
  padding: 3%;
  display: block;
  margin: auto;
}

.thumbTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.thumbnail {
  padding: 1%;
  cursor: pointer;
  display: block;
  margin: auto;
}

.iterNameDiv {
  padding: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gentkDesc {
  padding: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstPersonLegendR {
  position: absolute;
  display: block;
  z-index: 50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  left: 60%;
  top: 90%;
  user-select: none;
  mix-blend-mode: multiply;
  color: rgb(255, 0, 0);
}
#firstPersonLegendG {
  position: absolute;
  display: block;
  z-index: 49;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  left: 60.5%;
  top: 90%;
  user-select: none;
  mix-blend-mode: multiply;
  color: rgb(0, 255, 235);
}

.textDivR {
  position: absolute;
  display: block;
  user-select: none;
  z-index: 50;
  mix-blend-mode: multiply;
  color: rgb(255, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 12px;
}

.textDivG {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  display: block;
  user-select: none;
  z-index: 49;
  mix-blend-mode: multiply;
  color: rgb(0, 255, 235);

  font-size: 12px;
}

#roomLegendR {
  left: 2.5%;
  top: 80px;
}
#roomLegendG {
  left: 3%;
  top: 80px;
}

#helperR {
  left: 60%;
  top: 2%;
}

#helperG {
  left: 60.5%;
  top: 2%;
}

#twG {
  top: 95%;
  left: 2.5%;
  position: absolute;
  z-index: 100;
}

#twR {
  top: 95%;
  left: 2%;
  position: absolute;
  z-index: 100;
}

#twIcon {
  position: absolute;
  top: 95%;
  left: 0.1%;
  z-index: 100;
}

#worldTokensDiv {
  overflow-x: hidden;
  overflow-y: auto;
}

#fpTokensDiv {
  overflow-x: hidden;
  overflow-y: auto;
}

#title {
  padding-top: 3%;
  padding-left: 250px;
  font-size: 60px;
  font-style: italic;
  font-weight: 100;
  overflow-y: hidden;
}

#profilePic {
  margin: auto;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  background-size: cover;
  border: 1px solid black;
}

#alias {
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2px;
  border: 1px solid black;
}

#walletSync {
  display: block;
  position: absolute;
  top: 20px;
  left: 90%;
  padding: 1px;
  cursor: pointer;
  z-index: 99;
  font-family: Arial, Helvetica, sans-serif;
}

.tokenCatTitle {
  text-align: center;
  font-weight: bold;
  padding: 5%;
  font-size: 20px;
}
